body, html {
	background-color: #9BD7D5;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: Verdana, Arial;
	color: #505050;
	#text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h3 {
	text-align: center;
	font-family: Verdana, Arial;
	color: #505050;
}

h6 {
	text-align: center;
	font-family: Arial, Verdana;
	font-size: 12pt;
}

input[type=submit] {
	color: white;
	background-color: #129793;
	border: 0px;
	width: 120px;
	height: 25px;
	font-size: 20px;
	font-family: Arial;
	vertical-align: bottom;
}

input[type=submit]:hover {
	background-color: #7cacaa;
}

input[name='summoner'] {
	height: 25px;
	width: 300px;
	vertical-align: bottom;
}

input[name='summoner2'] {
	height: 25px;
	width: 150px;
}

#summoner {
	float: left;
	position: absolute;
	margin-left: 15px;
	display: inline-block;
}

#summonername {
	color: white;
	font-size: 25pt;
	margin-left: 20px;
	margin-bottom: 200px;
}

#banner {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #6c9695;
	margin-bottom: 25px;
}

#search {
	width: 450px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF7260;
}

#nextSearch {
	width: 450px;
	height: 50px;
	margin-left: 10px;
	margin-right: 25px;
	background-color: #FF7260;
	margin-top: 15px;
	float: right;
	display: inline-block;
}

#inside {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 12.5px;
	position: relative;
}

#history {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
}

.matches {
	background-color: #FFF5C3;
}

.win {
	height: 100px;
	width: 20px;
	background-color: #9bd7b7;
	margin-right: 0px;
}

.loss {
	height: 100px;
	width: 20px;
	background-color: #d79b9d;
	margin-right: 0px;
}

.result {
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 25px;
	font-family: Verdana;
	color: #2e403f;
}

.red {
	height: 100px;
	width: 150px;
	background-color: #d79b9d;
	border: 0px;
}

.blue {
	height: 100px;
	width: 150px;
	background-color: #9bbbd7;
	border: 0px;
}

td, tr {
	border: 5px solid #5d817f;
}

.img-circle {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	#margin-top: -20px;
}

.score {
	height: 10px;
	margin-top: -30px;
	margin-bottom: 10px;
}

.players {
	float: left;
	margin-left: -25px;
	list-style-type: none;
}