body, html {
	background-color: #9BD7D5;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	line-height: 0px;
}

h1 {
	text-align: center;
	font-family: Lucida, Verdana, Arial;
	color: #505050;
	#text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h2 {
	text-align: center;
	font-family: Lucida, Verdana, Arial;
	color: #505050;
}

h3 {
	text-align: center;
	font-family: Lucida, Verdana, Arial;
	color: #505050;
}

h5 {
	font-family: Lucida, Verdana, Arial;
	color: #505050;
	float: left;
}

p {
	font-family: Lucida, Verdana, Arial;
	vertical-align: center;
	display: inline-block;
	color: #505050;
}

h6 {
	text-align: center;
	font-family: Lucida, Arial, Verdana;
	font-size: 12pt;
}

input[type=submit] {
	color: white;
	background-color: #129793;
	border: 0px;
	width: 120px;
	height: 25px;
	font-size: 20px;
	font-family: Arial;
	vertical-align: bottom;
}

input[type=submit]:hover {
	background-color: #7cacaa;
}

input[name='summoner'] {
	height: 25px;
	width: 300px;
	vertical-align: bottom;
}

input[name='summoner2'] {
	height: 25px;
	width: 150px;
}

#summoner {
	float: left;
	position: absolute;
	margin-left: 15px;
	display: inline-block;
}

#summonername {
	color: white;
	font-size: 25pt;
	margin-left: 10px;
	margin-bottom: 200px;
}

#banner {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #6c9695;
	margin-bottom: 25px;
}

#search {
	width: 450px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2e403f;
}

#nextSearch {
	width: 450px;
	height: 50px;
	margin-left: 10px;
	margin-right: 25px;
	background-color: #2e403f;
	margin-top: 15px;
	float: right;
	display: inline-block;
}

#inside {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 12.5px;
	position: relative;
}

#history {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	margin-bottom: 20px;
}

.matches {
	background-color: #FFF5C3;
}

.win {
	height: 100px;
	width: 20px;
	background-color: #67c164;
	margin-right: 0px;
}

.loss {
	height: 100px;
	width: 20px;
	background-color: #c16467;
	background-color: ;
	margin-right: 0px;
}

.summs {
	height: 35px;
	width: 35px;
	border: 3px solid #3e5655;
}

.result {
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 25px;
	font-family: Verdana;
	color: #2e403f;
	background-color: #d7d59b;
}

.red {
	height: 100px;
	width: 300px;
	background-color: #d79b9d;
	border: 0px;
}

.blue {
	height: 100px;
	width: 300px;
	background-color: #9bbbd7;
	border: 0px;
}

td, tr {	
	border: 5px solid #2e403f;
}

th {
	height: 0px;
	background-color: #2e403f;
	border: 0;
}

.game {
	font-family: Lucida, Verdana, Arial;
	color: white;
	float: left;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
}

.img-circle {
	border-radius: 50%;
	height: 75px;
	width: 75px;
}

.small {
	border: 2px solid #3e5655;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.img {
	height: 35px;
	width: 35px;
	border: 3px solid #3e5655;
}

.thissummoner {
	font-family: Lucida, Verdana, Arial;
	vertical-align: center;
	display: inline-block;
	color: #1f2b2a;
}

.imageicon {
	height: 30px;
	width: 30px;
	padding: 3px;
	border: 0;
}

.items {
	width: 150px;
}

.itemtable {
	margin-left: auto;
	margin-right: auto;
}

.score {
	height: 10px;
	margin-top: -30px;
	margin-bottom: 10px;
}

.icon {
	width: 75px;
	height: 75px;
	margin-left: 10px;
	margin-top: 10px;
	border: 4px solid white;
}

.players {
	float: left;
	margin-left: -25px;
	list-style-type: none;
}